<!DOCTYPE html>
<html lang="en">
<head>
    <title>Background Images</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Forum</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="main-header">
            <h1>DAW Wizard</h1>
            <img src="/static/img/mik.png" class="logo">
            
        </div>
    
    </div>
    
    {% block content %} {{ content }} {% endblock %}
    
</body>
</html>